
<div class="heading">
<h1>Eat-da-Burger!</h1>
<img src="../assets/img/burger.png">
</div>

<div class="wrapper">
<div class="undevoured">
<h2>Eat These Burgers!</h2>
<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">Devour!</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul>
</div>


<div class="devoured">
<h2>Burgers that have been devoured!</h2>
<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}
      </li>
    {{/if}}
  {{/each}}
</ul>
</div>
</div>


<div class="add">
<h2>Add a Burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="burger_name">
  </div>

  <button type="submit">Submit</button>
</form>
</div>

